API_BASE_URL="http://127.0.0.1:8000"
API_TOKEN="<your_api_token>"
API_AUTH_DISABLED=false

CACHE_TTL_SECONDS=60
API_TIMEOUT_SECONDS=15
API_PAGE_SIZE=500
API_MAX_EXEC_ROWS=5000
API_MAX_PERF_ROWS=5000
API_MAX_PNL_ROWS=5000
API_PREFLIGHT_STRICT=false

